@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap");

*,
*::before,
*::after {
	box-sizing: border-box;
}

h1,
p {
	font-family: IBM Plex Sans;
}

body {
	display: grid;
	place-items: center;
	margin: 0;
}

.page {
	position: relative;
	overflow: hidden;

	&__bg-images {
		&-mobile {
			position: absolute;
			width: 100%;
			top: -10%;
			left: -5%;

			img {
				width: 150%;
			}
		}

		&-tablet {
			display: none;
		}

		&-desktop {
			display: none;
		}

		&-pattern-1 {
			display: none;
		}
	}

	&__header-logo {
		margin: 2rem 0 4rem 1.5rem;

		img {
			width: 146px;
		}
	}

	&__header-text {
		width: 80%;
		margin: 0 1.5rem 10rem;

		h1 {
			font-size: 2.5rem;
			line-height: 48px;
			letter-spacing: -0.45px;
		}

		p {
			line-height: 26px;
		}
	}

	&__main {
		position: relative;

		&-bg {
			display: flex;
			justify-content: center;
			background: #191826;
			border-radius: 12px;

			&-pattern-2 {
				img {
					width: 280px;
				}
			}
		}

		&-appPreview {
			position: absolute;
			display: flex;
			justify-content: center;
			width: 100%;
			top: -23%;

			img {
				width: 209px;
			}
		}

		&-content {
			position: absolute;
			display: flex;
			flex-direction: column;
			top: 92%;
			padding: 2.5rem;
			background: #fa7453;
			border-radius: 12px;
		}

		&-appDescription {
			h1 {
				color: #fcfaf9;
			}

			p {
				color: #fcfaf9;
				font-size: 1.125rem;
				line-height: 28px;
			}
		}

		&-price {
			display: flex;
			align-items: center;
			gap: 1rem;

			h1 {
				margin: 0.4rem 0 2rem;
				color: #fcfaf9;
				font-size: 4rem;
			}

			p {
				color: #fcfaf9;
				font-size: 1.2rem;
			}
		}

		&-download {
			display: flex;
			flex-direction: column;
			gap: 1rem;

			&-ios {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 0.5rem;
				border-radius: 12px;
				background: #191826;

				p {
					color: #fcfaf9;
					font-size: 1.125rem;
					font-weight: 700;
					letter-spacing: -0.18px;
				}

				&:hover {
					background: #66e2dc;
					cursor: pointer;
				}
			}

			&-android {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 0.5rem;
				background: #fcfaf9;
				border-radius: 12px;

				p {
					font-size: 1.125rem;
					letter-spacing: -0.18px;
					font-weight: 700;
					color: #191826;
				}

				&:hover {
					background: #ffb964;
					cursor: pointer;
				}
			}
		}
	}

	&__footer {
		margin: 38rem 2rem 4.5rem 1.5rem;

		&-copyright {
			margin-top: 1.5rem;
			p {
				color: #191826;
				line-height: 26px;
			}

			p span {
				font-weight: 700;
			}
		}

		&-social {
			display: flex;
			margin-top: 3.5rem;
			gap: 1rem;

			img:hover {
				filter: invert(66%) sepia(26%) saturate(6542%) hue-rotate(327deg)
					brightness(101%) contrast(96%);
				cursor: pointer;
			}
		}
	}
}

@media (min-width: 500px) {
	.page {
		&__bg-images {
			&-mobile {
				position: absolute;
				width: 100%;
				top: -20%;
				left: -5%;

				img {
					width: 150%;
				}
			}
		}
	}
}

@media (min-width: 768px) {
	.page {
		&__bg-images {
			&-mobile {
				display: none;
			}

			&-tablet {
				position: absolute;
				display: block;
				top: -15%;
				left: -45%;
			}

			&-pattern-1 {
				position: absolute;
				display: block;
				top: -1.5%;
				left: 71%;

				img {
					width: 266.67px;
				}
			}
		}

		&__header-logo {
			margin: 3rem 0 5rem 1.5rem;
		}

		&__header-text {
			width: 60%;
			margin: 0 1.5rem 15rem 1.5rem;

			h1 {
				font-size: 4rem;
				line-height: 64px;
				letter-spacing: -0.72px;
			}

			p {
				font-size: 1.125rem;
				line-height: 28px;
			}
		}

		&__main {
			height: 600px;
			margin: 0 1.5rem;

			&-bg {
				position: relative;
				height: 100%;
				overflow: hidden;

				&-pattern-2 {
					position: absolute;
					top: -5%;
					left: 35%;
				}
			}

			&-appPreview {
				left: -20%;

				img {
					width: 270px;
				}
			}

			&-content {
				width: 400px;
				left: 35%;
				top: 25%;
			}
		}

		&__footer {
			margin: 15rem 2rem 4.5rem 1.5rem;

			&-content {
				display: flex;
			}

			&-copyright {
				width: 50%;
				margin-top: 1rem;
			}

			&-social {
				display: flex;
				align-items: center;
				justify-content: flex-end;
				width: 50%;
				margin: 0;
			}
		}
	}
}

@media (min-width: 1000px) {
	.page {
		padding: 1.5rem 2.5rem;

		&__main {
			&-content {
				left: 50%;
				top: 25%;
			}
		}
	}
}

@media (min-width: 1200px) {
	.page {
		padding: 3.5rem 7.5rem;

		&__bg-images {
			&-tablet {
				display: none;
			}

			&-desktop {
				position: absolute;
				display: block;
				top: -18%;
				left: -22%;
			}

			&-pattern-1 {
				position: absolute;
				display: block;
				top: -2%;
				left: 80%;

				img {
					width: 266.67px;
				}
			}
		}

		&__header-logo {
			margin: 0 0 5rem 1.5rem;
		}

		&__header-text {
			width: 75%;
			margin: 0 1.5rem 18rem 1.5rem;

			h1 {
				font-size: 5.5rem;
				line-height: 88px;
				letter-spacing: -1px;
			}

			p {
				font-size: 1.25rem;
				line-height: 34px;
			}
		}

		&__main {
			&-bg {
				&-pattern-2 {
					top: -5%;
					left: 30%;

					img {
						width: 312px;
					}
				}
			}

			&-appPreview {
				top: -35%;
				left: -27%;

				img {
					width: 312px;
				}
			}

			&-content {
				width: 446px;
				left: 51%;
				top: 15%;
			}

			&-appDescription {
				h1 {
					font-size: 2.5rem;
				}
				p {
					font-size: 1.25rem;
				}
			}
		}

		&__footer {
			display: flex;

			margin: 10rem 2rem 4.5rem 1.5rem;
			gap: 5rem;

			&-copyright {
				width: 40%;
				margin: 0;
				p {
					margin: 0;
				}
			}

			&-social {
				width: 60%;
				margin: 0;
			}
		}
	}
}
